.app.normal {
  --bg-color: gb(241, 233, 233);

  --primary-color: rgb(145, 68, 150);
  --secondary-color: rgb(245, 186, 234);

  --primary-text-color: rgb(29, 28, 28);
  --secondary-text-color: rgb(83, 82, 82);
}
