.app.dark {
  --bg-color: rgb(46, 41, 41);

  --primary-color: rgb(245, 186, 234);
  --secondary-color: rgb(145, 68, 150);
  --additional-color: rgb(111, 37, 116);

  --primary-text-color: rgb(241, 233, 233);
  --secondary-text-color: rgb(211, 207, 207);
  --oposite-text-color: rgb(29, 28, 28);
}
