.app.normal {
  --bg-color: rgba(255, 255, 255);

  --primary-color: rgb(145, 68, 150);
  --secondary-color: rgb(245, 186, 234);
  --additional-color: rgb(244, 214, 238);

  --primary-text-color: rgb(29, 28, 28);
  --secondary-text-color: rgb(157, 154, 154);
  --oposite-text-color: rgb(241, 233, 233);
}
