.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  grid-area: header;

  background-color: var(--secondary-color);
}
